<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyc.mapper.TableMapper">

    <update id="createTmpTable">
        CREATE TABLE IF NOT EXISTS `${tableName}` (
        <foreach collection="params" item="column" index="index" separator=",">
            ${column} varchar(255) DEFAULT NULL
        </foreach>
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </update>

    <insert id="insertData" parameterType="java.util.Map">
        insert into ${tableName} (
        <foreach collection="params" index="key" item="value" separator=",">
            ${key}
        </foreach>
        ) VALUES (
        <foreach collection="params" index="key" item="value" separator=",">
            #{value}
        </foreach>
        )
    </insert>

</mapper>